<div id="flash-app">
  <div class="alert alert-warning mb-0" role="alert" v-if="notice">
    <%= notice %>
    <button type="button" class="close" @click="closeBtn()">
      <i class="far fa-times-circle"></i>
    </button>
  </div>
</div>