<h1>打卡成就</h1>
<%=link_to '返回上一頁',user_transactions_path%>

<div class="point">
  <div id="point-item"></div>
  <div class="point-color">
    <div class="color-reference">
      <div class="item pink200"></div>
      <div class="item pink175"></div>
      <div class="item pink150"></div>
      <div class="item pink125"></div>
      <div class="item pink100"></div>
      <div class="item pink50"></div>
    </div>
  </div>
</div>