.check {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.check-item{
  border: black 1px solid;
}

label,#invote{
  margin: 10px;
}

input{
  border: 3px solid bl;
  border-radius: 10px;
  outline: none;
}

.messege {
  border: black 1px solid;
  width: 360px;
  height: 100px;
  margin: 10px;
}

.input {
  margin: 10px;
  border: black 1px solid;
  width: 360px;
  height: 400px;
}
.prize{
  margin: 10px;
  text-align: center;
}
.jsonb{
  display: flex;
  justify-content: center;
}