.point {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
}

#item {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 2px;
  margin: 3px;
  width: 12px;
  height: 12px;
  background-color: #D0D0D0;
  display: inline-block;
}

.color-reference {
  display: flex;
  margin: 30px;
}

.checkin-1 {
  background-color: #84C1FF;
}

.checkin-2 {
  background-color: #46A3FF;
}

.checkin-3 {
  background-color: #0080FF;
}

.checkin-4 {
  background-color: #0066CC;
}

.checkin-5 {
  background-color: #004B97;
}

.checkin-6 {
  background-color: #003060;
}

#month {
  font-size: .85rem;
}
