*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: ariel, Microsoft JhengHei, STHeiti;
  border-collapse: collapse;
}

.blue-box{
  border: 1px solid #16a1ec;
}

.btn-blue1{
  background-color: #16a1ec;
  border: 1px solid #16a1ec;
  /*background-color: #0000A1;*/
  color: #fff;
}
section{
  padding: 50px 0;
}

.login{
  background: #B9EDF8;
}

.input-box{
  line-height: 100px;
  margin: auto;
}

.intro{
  
}

.feature{
  
}

.feature-item{
  /*display: flex;*/
  text-align: center;
}

h4{
  color: #1F6ED4;
  margin: 10px 0; 
}

.icon{
  border-bottom: 1px solid #e3e3e3;
  padding: 15px 10px;
  margin: 0 15px 0 0;
  font-size: 26px;
  /*vertical-align: middle;*/
  line-height: 36px;
  /*transition: all 250ms ease-in-out 0s;*/
  color: #1F6ED4;
}

.summary{
  margin: 15px 0 0;
}

.action{
  
}

.title{
  
}

.footer{
  background: #2c2c2c;
  border-top:1px solid #e9e9e9;
  color: #8894a0;
  font-size: 12px;
  padding: 40px 0;
  position: relative;
}

.social-icon li{
  display: inline-block;
  list-style: none;
  margin: 0;
}

.social-icon li a{
  background: #f9f9f9;
  border-radius: 100%;
  color: #999;
  font-size: 16px;
  text-decoration: none;
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 8px 8px 0;
  padding-top: 8px;
}