messege = document.querySelector("#messege");

while (messege.firstChild) {
  messege.removeChild(messege.firstChild);
}
var three_code = <%= @three_code %>;
var string = "<%= @string %>";

if (three_code === true) {
  let input_val = document.querySelector("#inv_input").value;
  if (string.length == 3) {
    messege.insertAdjacentHTML(
      "beforeend",
      `<div class="prize"> 中獎 ${input_val}</div>`
    );
  } else {
    messege.insertAdjacentHTML(
      "beforeend",
      `<div class="prize">繼續對對看 <%=@front5%><span class="red"><%=@back3%><span></div>`
    );
  }
} else {
  messege.insertAdjacentHTML("beforeend", `<div class="prize"> 未中獎 </div>`);
}
document.querySelector("#inv_input").value = "";
