<% content_for :scripts do %>
  <%= javascript_pack_tag 'vue-qrscaner', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <h1 class='new-title'><i class="fas fa-plus"></i>新增帳目</h1>
  <div class="row" id="app">
    <a href="#" v-if="!isScanned && !clicked" @click.prevent="clickStatus" class="btn">點我，開始掃發票吧！</a>
    <qrcode-stream v-if="clicked" @decode="onDecode" @init="onInit" />
    <%= render 'form', transaction: @transaction %>
  </div>
</div>