<% content_for :scripts do %>
  <%= javascript_pack_tag 'qrcodescanner' %>
<% end %>

<h1 class='model-title'>新增帳目</h1>
<a href="#" id="startButton" class="btn">Scan</a>
<video id="video" width="320" height="200"></video>
<%= render 'form', transaction: @transaction %>
