<% content_for :scripts do %>
  <%= javascript_pack_tag 'qrcodescanner' %>
<% end %>
<div class="container">
  <h1 class='new-title'><i class="fas fa-plus"></i>新增帳目</h1>
  <div class="row">
    <a href="#" id="startButton" class="btn">點我，開始掃發票吧！</a>
    <video id="video" width="320" height="200"></video>
    <%= render 'form', transaction: @transaction %>
  </div>
</div>