<% content_for :scripts do %>
  <%= javascript_pack_tag 'vue-qrscaner', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <h1 class='new-title'><i class="fas fa-plus"></i>新增帳目</h1>
  <div class="row"><%= render 'form', transaction: @transaction %>
  </div>
</div>

<div id="app">
  <a href="#" v-if="!isScanned && !clicked" @click.prevent="clickStatus" class="btn"><i class="fas fa-qrcode fa-2x"></i></a>
  <qrcode-stream v-if="clicked" @decode="onDecode" @init="onInit" />
</div>
