<% content_for :scripts do %>
  <%= javascript_pack_tag 'jsqr' %>
<% end %>
<div class="container">
  <h1 class='new-title'><i class="fas fa-plus"></i>新增帳目</h1>
  <div class="row"><%= render 'form', transaction: @transaction %>
    <a href="#" id="startButton" class="btn">Scan</a>
    <canvas id="scanner"></canvas>
  </div>
</div>
