<div class="container">
<h1 class="card-title">首頁</h1>
</div>

<section class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <input type="text">
      <a href="#">註冊</a>
    </div>
    <div class="col-12 col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eos eum obcaecati, est earum repellat unde autem quibusdam rerum, accusantium, qui et molestias fuga modi? Asperiores, fuga eaque iusto vel!30</p>
      <img src="https://picsum.photos/300/200?random=15" alt="圖片說明">
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://picsum.photos/600/400?random=13" alt="圖片說明">
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>直覺好上手</li>
        <li>對獎、記帳一次完成</li>
        <li>免費申請，立即使用</li>
      </ul>
    </div>
  </div>
</section>
