<div class="container">
<h1 class="card-title">首頁</h1>
</div>

<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Your email" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="button-addon2">註冊</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eos eum obcaecati, est earum repellat unde autem quibusdam rerum, accusantium, qui et molestias fuga modi? Asperiores, fuga eaque iusto vel!30</p>
        <img src="https://picsum.photos/300/200?random=15" alt="圖片說明">
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="https://picsum.photos/600/400?random=13" alt="圖片說明">
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>直覺好上手</li>
        <li>對獎、記帳一次完成</li>
        <li>免費申請，立即使用</li>
      </ul>
    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <h3></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="圖片說明">
          <h4><a href="#">Professional Design</a></h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="圖片說明">
          <h4><a href="#">Professional Design</a></h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="圖片說明">
          <h4><a href="#">Professional Design</a></h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="action">
  <div class="container">
    <div class="col-12">
      <div class="title">
        <h2 class="info">立即註冊!</h2>
        <h4 class="description"></h4>
          <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Your email" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" id="button-addon2">註冊</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-9">Copyright © 2019. Theme by Money Pocket</div>
        <div class="col-12 col-md-3">
          <div class="social-icon">
          <ul>
            <li><a href="#" class="fab fa-facebook-f"></a></li>
            <li><a href="#" class="fab fa-github"></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>