<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 input-box">
        <div class="input-group mb-3">
          <input type="text" class="form-control blue-box" placeholder="請輸入您的email" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-blue1" type="button" id="button-addon2">立即註冊</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>Money Pocket聰明記帳</h3>
        <p>快速掃描你的發票，同時記錄你的支出，統一發票對獎加上記帳功能，一次解決兩樣瑣碎的事務，省下更多時間去做別的事！</p>
        <img src="https://picsum.photos/300/200?random=15" alt="圖片說明">
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="https://picsum.photos/500/300?random=13" alt="圖片說明">
      </div>
      <div class="col-12 col-md-6">
        <ul>
          <li>直覺好上手</li>
          <li>一次輸入，整理發票同時完成記帳</li>
          <li><i class="fas fa-piggy-bank"></i>免費申請，立即使用</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <h3></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="圖片說明">
          <h4>發票QRcode解析</h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="筆記本">
          <h4>對獎、記帳一次滿足</h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <img class= "icon" src="https://picsum.photos/50/50?random=13" alt="成就截圖">
          <!-- <div class="icon">
            <i class="fab fa-buromobelexperte"></i>
          </div> -->
          <h4>成就紀錄，記越多越有感</h4>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur hic nam labore possimus odio vitae magnam itaque tempore error eligendi facilis sint mollitia veniam a ducimus corporis, enim doloribus. Eos.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="action">
  <div class="container">
    <div class="col-12">
      <div class="title">
        <h2 class="info">現在就開始體驗吧！Keep your money well!</h2>
        <h4 class="description"></h4>
          <div class="input-group mb-3">
          <input type="text" class="form-control blue-box" placeholder="請輸入您的email" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-blue1" type="button" id="button-addon2">立即註冊</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-9">Copyright © 2019. Theme by Money Pocket</div>
        <div class="col-12 col-md-3">
          <div class="social-icon">
          <ul>
            <li><a href="#" class="fab fa-facebook-f"></a></li>
            <li><a href="#" class="fab fa-github"></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>